<header>
  <a href="/">Talent<span>Route</span></a>
  <nav>
    <a href="/">Home</a>
    <a href="/talents">Talents</a>
    <a href="/opportunities">Opportunities</a>
    <a href="/contact">Contact</a>
    <a href="/signup">Sign In</a>
    <a href="/login">Login</a>
  </nav>
  
  <a href="/registertalent" class="btn" style="margin-top: 0 ;border-radius:30px;">Register Talent</a>
  <a href="/addopportunity" class="btn" style="margin-top: 0 ;border-radius:30px;">Post Opportunity</a>
</header>